<div class="to-do">
  <h1>To-Do List</h1>
  <div class="to-do__block">
    <div class="to-do__create">
      <input type="text" placeholder="Task" [(ngModel)]="title">
      <button class="to-do__btn-add" (click)="addTask()">ADD</button>
    </div>
    <div class="to-do__search">
      <div class="to-do__search-data">
        <button class="up" (click)="sortDateUp()"></button>
        <button class="down" (click)="sortDateDown()"></button>
      </div>
      <div class="to-do__search-index" (click)="sortIndex()">
        123
      </div>
      <input class="search-task" type="search" [(ngModel)]="searchTitle" (input)="searchTask()" placeholder="Search">
      <span
           class="search-done to-do__search-sort"
           (click)="sortCompleted()"
      >Y</span>
    </div>
  </div>
</div>
