body{
  font-family: sans-serif;
}

a,
a:hover,
a:active,
a:focus,
button,
input,
button:hover,
button:active,
button:focus,
input:hover,
input:active,
input:focus {
  text-decoration: none;
  outline: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

img {
  width: 35px;
  height: 35px;
  cursor: pointer;
}

*button {
  cursor: pointer;
}

.empty-tasks {
  text-align:center;
  margin-top:5%;
  font-size:25px;
}
